body {
  color: #212121;
  font-family: 'Roboto', sans-serif;
  list-style-type: none;
  text-decoration: none; 
}
.container{
width: 1600px;
}
ul{
  list-style-type: none;
}
:root {
  --name-color: black;
  --namefotter-color: white;
  --fotter-color: #2f303a;
  --menu-color: #212121;
  --main-color: #212121;
}
header{
  display: flex;
  justify-content: space-between;
}
header menu{
  display: flex;
  justify-content:space-between ;
}
.filtrs{
  display: flex;
  gap: 8px;
  justify-content: center;
}

.name {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--name-color);
  cursor: pointer;
}
.menu{
  display: flex;
  justify-content:space-between ;
}
.item {
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  color: var(--menu-color);
  cursor: pointer;
}
.item:hover {
  color: #2196f3;
}
.contact {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #757575;
  font-size: 14px;
  line-height: 1.14;
  cursor: pointer;
  text-align: center;
}
.contact:hover {
  color: #2196f3;
}
.filtr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  cursor: pointer;
  text-align: center;
  border: none;

}
.filtr:hover {
  background-color: #2196f3;
  color: #ffffff;
}
.img{
 display: flex;
 flex-wrap: wrap;
 gap: 30px;
 flex-basis: calc((100% - 60px)/3);
}
.imgname {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.main {
  background-color: var(--main-color);
}
.maintext {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin-right: auto;
  margin-left: auto;
}
.mainbutton {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
}
.mainbutton:hover {
  background-color: #2196f3;
  color: #ffffff;
}
.lorem{
  display: flex;
  justify-content: space-between;
}
.text {
  font-size: 16px;
  line-height: 1, 875;
}
.headline {
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 17;
}
.textlorem {
  font-size: 14px;
  line-height: 1, 71;
}
.fotter {
  background-color: #2f303a;
}
.namefotter {
  text-decoration: none;
  color: var(--namefotter-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  cursor: pointer;
}
.namefotter:hover {
  color: #2196f3;
}
.location {
  color: #ffffff;
  font-size: 14px;
  line-height: 1, 71;
  cursor: pointer;
}
.location:hover {
  color: #2196f3;
  cursor: pointer;
}
